.App {
  text-align: center;
}
p {
  font-size: larger;
}

.footer span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: aqua;
}
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.createForm {
  width: 50%;
  margin-left: 15rem;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

 
/* use jquery to hide some content */